@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  color: black;
  background: #f0f0f0;
}

.title {
  font-weight: 900;
  font-size: 0.8em;
  margin: 0;
  color: peru;
  line-height: 0.8em;
  letter-spacing: -2px;
  text-align: left;
}

.title > span {
  white-space: pre;
}

.subtitle {
  font-weight: 900;
  font-size: 0.3em;
  margin: 0;
  color: peru;
  line-height: 0.8em;
  letter-spacing: -2px;
  text-align: left;
}

.subtitle > span {
  white-space: pre;
}

.clock-date {
  font-weight: 900;
  font-size: 0.3em;
  margin: 0;
  color: peru;
  line-height: 0.8em;
  letter-spacing: -2px;
  text-align: left;
}

.clock-time {
  font-weight: 900;
  font-size: 0.7em;
  margin: 0;
  color: peru;
  line-height: 0.8em;
  letter-spacing: -2px;
  text-align: left;
}

.iframe {
  width: 1840px;
  height: 1192px;
  border: none;
  border-radius: 0px;
}

.trailsText {
  position: relative;
  top: 230px;
  left: 55%;
  width: 100%;
  height: 160px;
  line-height: 80px;
  color: black;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.container {
  position: absolute;
  align-items: center;
  height: 100%;
  width: 100%; 
  justify-content: center;
}
