@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Press Start 2P');

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  color: black;
  background: #f0f0f0;
}

.title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-size: 1em;
  letter-spacing: -0.045em;
  white-space: nowrap;
  font-family: 'Press Start 2P';
  text-align: center;
}

.clock-date {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: -0.3em;
  white-space: nowrap;
  font-family: 'Press Start 2P';
  text-align: center;
}

.clock-time {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-weight: 400;
  font-size: 2.1em;
  letter-spacing: -0.045em;
  white-space: nowrap;
  font-family: 'Press Start 2P';
  text-align: center;
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  padding: 0;
}

.wrapper {
  padding: 10px;
  width: 668px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}